@model Ecomaerce.Models.Category
@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item">Category</li>
        <li class="breadcrumb-item active">Add New Category</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Add New Categorys
        </div>
        <div class="card-body">
            @using (Html.BeginForm("AddCategory", "Admin", FormMethod.Post, new { encrypt = "multiPart/form.data" }))
            {
                @Html.HiddenFor(m => m.ID)
                <div class="form-group">
                    <label class="control-label">Category Name</label>
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Enter Category Name", required = "required", autofocus = "autofocus" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
                <a onclick="window.history.back();" class="btn btn-danger">Cancel</a>
                <input type="submit" class="btn btn-primary" value="Save" />
            }
        </div>
    </div>
</div>

